.contact_container {
  row-gap: 3rem;
}

.contact_information {
  display: flex;
  align-items: center;
}

.contact_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 2rem;
  width: 100%;
}

.contact_icon {
  font-size: 2em;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact_email {
  text-decoration: none;
  color: var(--text-color-light);
}

.contact_email:hover {
  color: var(--first-color);
  transform: scale(1.1);
}

.contact_content {
  display: flex;
  flex-direction: column;
  background-color: var(--input-color);
  border-radius: 0.5em;
  padding: 0.75em 1em 0.25em;
  position: relative;
}

.contact_error {
  color: #f31;
  font-size: 0.875rem;
  top: 70px;
}

.contact_label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact_input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25em 0.5em 0.5em 0;
}

.contact_input:focus ~ label {
  color: var(--first-color);
}

@media screen and (max-width: 720px) {
  .contact_items {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .contact_information {
    align-items: flex-start;
  }

  .contact_icon {
    flex-shrink: 0;
    margin-top: 0.15em;
  }
}

