dist
node_modules
.artifacts
package-lock.json
public/documents
public/images
src/assets
src/@types
src/config
src/helper
src/hooks
src/index.css
src/locale
src/routes
src/utils
src/pages/Home
src/components/*/
.eslintrc.cjs
.eslintrc.json
SECURITY.md
tsconfig.node.json
tsconfig.paths.json
vite.config.js
vite.config.d.ts
*.tsbuildinfo
