.testimonial_data,
.testimonial_header {
  display: flex;
}

.testimonial_data {
  justify-content: space-between;
  margin-bottom: var(--mb-1);
}

.testimonial_inner {
  text-align: center;
  padding: 0 1.5rem;
  margin: auto;
}

.testimonial_content {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
}

.testimonial_slider_header {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.testimonial_container {
  position: relative;
  background-color: var(--container-color);
  padding: 3.5em 0.5em 1.25em 1.5em;
  border-radius: 0.25em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.testimonial_container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.testimonial_name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.testimonial_client {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.testimonial_description {
  line-height: 1.5rem;
  font-size: var(--normal-font-size);
  color: var(--text-color);
  text-align: justify;
  margin: var(--mb-1-5) auto var(--mb-2-5) auto;
  height: 190px;
}

.testimonial_icon-star {
  color: var(--first-color);
  font-size: 1rem;
}

.hidden-slide {
  display: none;
  opacity: 0;
}

.active-slide {
  display: block;
  opacity: 1;
}

.dots_container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active-dot {
  background-color: var(--first-color);
}

.prev_button,
.next_button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.arrow_icon {
  font-size: 24px;
  color: var(--text-color);
}

/* for small devices */
@media screen and (max-width: 350px) {
  .testimonial_data,
  .testimonial_header {
    flex-direction: column;
    align-items: center;
  }
  .testimonial_img {
    margin-right: 0;
    margin-bottom: var(--mb-0-25);
  }
  .testimonial_data,
  .testimonial_description {
    text-align: center;
  }
}

/* for medium devices */
@media screen and (min-width: 568px) {
  .testimonial_data,
  .testimonial_header {
    flex-direction: column;
  }

  .testimonial_description {
    height: 150px;
  }
}

/* for large devices */
@media screen and (min-width: 1024px) {
  .prev_button,
  .next_button {
    display: block;
  }
}
