.project {
    text-align: center;
}

.project_bg {
    background-color: var(--first-color-second);
    padding-top: 3em;
}

.project_title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.project_description {
    margin-bottom: var(--mb-1-5);
}

.project_title,
.project_description {
    color: #FFF;
}

.project_img{
    width: 323px;
    justify-self: center;
}

.button--white {
    background-color: #FFF;
    color: var(--first-color);
}

.button--white:hover {
    background-color: #FFF;
}