.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo, .nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_logo:hover {
    color: var(--first-color);
}

.nav_toggle {
    font-size: 1.1em;
    cursor: pointer;
}

.nav_toggle:hover {
    color: var(--first-color);
}

.nav_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_icon {
    font-size: 1.2em;
}

.nav_close {
    position: absolute;
    right: 1.3em;
    bottom: .5em;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--first-color);
}

.nav_close:hover {
    color: var(--first-color);
}

.show-menu {
    bottom: 0;
}

.close-menu {
    bottom: -100px;
}

@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2em 1.5em 4em;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5em 1.5em 0 0;
        transition: .3s;
    }
    .nav_header {
        position: fixed;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 0.5em 1em;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5em 1.5em 0 0;
        transition: .3s;
    }
    .show-menu {
        bottom: 0px;
    }
    .close-menu {
        bottom: -100px;
    }
}