.language_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.language_items {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.language_item,
.language_title {
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  transition:
    transform 0.2s ease-in-out,
    color 0.2s ease-in-out;
  border: none;
  background-color: transparent;
}

.language_item {
  padding: 0 0.3rem;
}

.language_item:hover {
  transform: scale(1.1);
}

.language_selected {
  text-decoration: underline;
  display: inline-block;
  background-color: var(--first-color);
  color: var(--text-button-color);
  border-radius: 0.5em;
  padding: var(--mb-0-5);
  cursor: default;
  transition: none;
}

.language_selected:hover {
  transform: scale(1);
}
