.project {
  text-align: center;
}

.project_bg {
  background-color: var(--first-color-second);
  padding: 3em 0;
}

.project_title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-75);
  color: #fff;
}

.project_description {
  margin-bottom: var(--mb-1-5);
}

.project_title,
.project_description {
  color: #fff;
}

.project_images {
  display: flex;
  flex-direction: row;
  gap: var(--mb-0-5);
  justify-content: center;
  justify-self: center;
  margin-bottom: var(--mb-1-5);
}

.project_img {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  max-width: 200px;
  max-height: 200px;
}

.button--white {
  background-color: #fff;
  color: var(--first-color);
}

.button--white:hover {
  background-color: #fff;
}
