.skills_container {
  row-gap: 0;
  column-gap: 5em;
}

.skills_header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills_icon,
.skills_arrow {
  font-size: 1rem;
  color: var(--first-color);
}

.skills_icon {
  margin-right: var(--mb-0-75);
}

.skills_title {
  font-size: var(--h3-font-size);
}

.skills_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  padding: 8px 0;
}

.skills_arrow {

  margin: 0.5rem 0 0 0.5rem;
  transition: 0.4s;
}

.skills_list {
  row-gap: 1.5em;
  padding-left: 2.7em;
}

.skills_titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills_bar,
.skills_percentage {
  height: 5px;
  border-radius: 0.25em;
}

.skills_bar {
  background-color: var(--first-color-lighter);
}

.skills_percentage {
  display: block;
  background-color: var(--first-color);
}

.skills_html {
  width: 95%;
}

.skills_css,
.skills_java,
.skills_photoshop,
.skills_jest,
.skills_cypress,
.skills_java {
  width: 80%;
}

.skills_js,
.skills_figma,
.skills_react {
  width: 90%;
}

.skills_type {
  width: 90%;
}

.skills_angular {
  width: 85%;
}

.skills_ionic {
  width: 70%;
}

.skills_node,
.skills_illustrator {
  width: 60%;
}

.skills_python {
  width: 60%;
}

.skills_close .skills_list {
  height: 0;
  overflow: hidden;
}

.skills_open .skills_list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills_open .skills_arrow {
  transform: rotate(-180deg);
}

@media screen and (max-width: 350px) {
  .skills_title {
    font-size: var(--normal-font-size);
  }
}