.footer_bg {
  background-color: hsl(60, 20%, 95%);
  padding: 1em 0 2em;
  text-align: center;
  width: 100%;
}

.footer_title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer_subtitle {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer_links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  margin: 0.67em 0;
}

.footer_link:hover {
  color: var(--first-color-second);
  cursor: pointer;
  transform: scale(1.05);
}

.footer_social {
  font-size: 1.25em;
}

.footer_social:hover {
  color: var(--first-color-second);
}

.footer_copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--title-color);
  margin-top: var(--mb-3);
}

.footer_socials {
  display: flex;
  flex-direction: row;
  gap: var(--mb-1);
  margin-top: var(--mb-1-5);
  justify-content: center;
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social {
  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_bg {
    padding: 3em 0 3.5em;
  }
  .footer_links {
    flex-direction: row;
    column-gap: 2em;
  }
  .footer_copy {
    margin-top: 4.5em;
  }
}
