/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* variables */
:root {
  --header-height: 3em;
  /* colors */
  --hue-color: 0;
  --first-color: hsl(var(--hue-color), 0%, 7%);
  --first-color-second: hsl(var(--hue-color), 0%, 9%);
  --first-color-alt: hsl(var(--hue-color), 0%, 11%);
  --first-color-lighter: hsl(var(--hue-color), 0%, 92%);
  --title-color: hsl(var(--hue-color), 0%, 15%);
  --text-color: hsl(var(--hue-color), 0%, 45%);
  --text-button-color: hsl(var(--hue-color), 0%, 95%);
  --text-color-light: hsl(var(--hue-color), 0%, 40%);
  --input-color: hsl(var(--hue-color), 7%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: hsl(var(--hue-color), 0%, 100%);
  --scroll-bar-color: hsl(var(--hue-color), 0%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 0%, 80%);
  /* font and typography */
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2em;
  --h1-font-size: 1.5em;
  --h2-font-size: 1.25em;
  --h3-font-size: 1.125em;
  --normal-font-size: 0.938em;
  --small-font-size: 0.813em;
  --smaller-font-size: 0.75em;
  /* font  weigth*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /* margenes bottom */
  --mb-0-25: 0.25em;
  --mb-0-5: 0.5em;
  --mb-0-75: 0.75em;
  --mb-1: 1em;
  --mb-1-5: 1.5em;
  --mb-2: 2em;
  --mb-2-5: 2.5em;
  --mb-3: 3em;
  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Variables Dark Theme */

.page.dark-theme {
  /* colors */
  --first-color: hsl(var(--hue-color), 0%, 95%);
  --first-color-lighter: hsl(var(--hue-color), 0%, 70%);
  --first-color-second: hsl(var(--hue-color), 0%, 9%);
  --title-color: hsl(var(--hue-color), 0%, 95%);
  --text-color: hsl(var(--hue-color), 0%, 75%);
  --text-color-light: hsl(var(--hue-color), 0%, 80%);
  --input-color: hsl(var(--hue-color), 0%, 16%);
  --body-color: hsl(var(--hue-color), 0%, 7%);
  --text-button-color: hsl(var(--hue-color), 0%, 7%);
  --container-color: hsl(var(--hue-color), 0%, 9%);
  --first-color-alt: hsl(var(--hue-color), 0%, 40%);
  --scroll-bar-color: hsl(var(--hue-color), 0%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 0%, 36%);
}

/* base */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.page {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

/* reusable css classes */
.section {
  padding: 2em 0 4em;
}

/* layout */
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 3em;
}

/* scroll bar */
::-webkit-scrollbar {
  max-width: 60em;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* selection */
*::selection {
  background-color: var(--first-color-alt);
  color: hsl(var(--hue-color), 0%, 100%);
}

/* buttons */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--text-button-color);
  padding: 1em;
  border-radius: 0.5em;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color);
  transform: scale(1.01);
}

.button_icon {
  font-size: 1.25em;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--flex {
  margin: 0px auto;
  display: inline-flex;
  align-items: center;
}

.button--white {
  background-color: hsl(0, 0%, 100%);
  color: hsl(var(--hue-color), 0%, 9%);
}

.button--white:hover {
  background-color: hsl(0, 0%, 100%);
}

/* base screens */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3em;
    --h1-font-size: 2.5em;
    --h2-font-size: 1.5em;
    --h3-font-size: 1.25em;
    --normal-font-size: 1em;
    --small-font-size: 0.875em;
    --smaller-font-size: 0.813em;
  }
}

/* for small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

/* for medium devices */
@media screen and (min-width: 568px) {
  .about_container,
  .skills_container,
  .portfolio_content,
  .project_container,
  .contact_container,
  .footer_container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
  }
  .page {
    margin: 0;
  }
  .section {
    padding: 4rem 0 2rem;
  }
  .header,
  .main,
  .footer_container {
    padding: 0 1rem;
  }
}

/* for large devices */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer_container {
    padding: 0;
  }
  .home_blob {
    width: 320px;
  }
}
